@font-face {
    Font-family: "Henny Penny";
    src: url("./fonts/HennyPenny-Regular.ttf") format("truetype");
}
body {
    font: 20px "Henny Penny";
    background-color: rgb(250 189 244);
}
header {
    text-align: center;
    background-color: rgb(197 114 189);
    border-radius: 15px;
}
footer {
    text-align: center;
    background-color: rgb(197 114 189);
    border-radius: 15px;
}
a {
    text-decoration: none;
    color: blue;
}